*{
    margin: 0;
    padding: 0;
}

body {
    min-width: 1200px;
    width: 100%;
    overflow: scroll;
    overflow-x:hidden;
}


p#K{
    font-size: 80px;
    color: deepskyblue;
    position:absolute ;
    top:-15px;
    left: 25px;
}
p#TWO{
    font-size: 80px;
    color: red;
    position:absolute;
    left: 150px;
    top:-15px;
}
.fa-youtube-play{
    position: absolute;
    top: 10px;
    left: 80px;
}

#head{
    border-bottom: solid 1px darkgray;
    height: 80px;
    background-color: white;
}

/*导航栏*/
.navbar{
    position:relative;
    top:27px;
    width:346px;
    left:250px;
}

.navbar ul li{
    padding:0;
    margin:0;
    position:relative;
    left:0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color:#B0C4DE;
}

.btn-default:hover{
    color: white;
    background:deepskyblue;
}
#exitBtn{
    position:relative;
    left:1230px;
    top:-65px;
}
#userName{
    position:relative;
    left:950px;
    top:-35px;
    font-size:20px;
    color:#778899;
}

#changePW-words{
    position:relative;
    left:20px;
    top:30px;
    font-size:25px;
}
.userChangePwForm form{
    position:relative;
    left:160px;
    top:90px;
    height:200px;
}

#submitChangePwBtn{
    position:relative;
    left:350px;
    top:70px;
}


