<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/images/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/adminLogin.css">
</head>
<body>
<div id="main">
    <font id="K" class="K2" >K</font>
    <font id="TWO" class="K2">2</font>
    <i  class="fa fa-youtube-play fa-5x"></i>
    <h1>管理员登录</h1>
    <!--  <form  role="form" action=""onsubmit="return login()"  method="post">-->
    <div class="form-group">

        <input id="admin_id" type="text" class="form-control" placeholder="管理员账号">
    </div>
    <br>
    <div class="form-group">

        <input id="admin_password" type="password" class="form-control" placeholder="密码">
    </div>
    <br>


    <button  type="submit" class="btn btn-primary" id="login-button" >登录</button>

    <!--</form>-->
</div>
<div id="wait" style="display: none">
    <img src="/images/wait.gif" id="loading" style="width: 100px;height: 100px;" alt="">
</div>


<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/adminLogin.js"></script>
</body>
</html>