<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户共享空间</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/images/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/userShareRoom.css">
</head>
<body>
<div id="head">

    <p id="K">K</p>
    <p id="TWO">2</p>
    <i class="fa fa-youtube-play fa-5x"></i>


    <div id="navbtn" class="btn-group">
        <button  class="btn btn-default" onclick="jump_home()">用户首页</button>
        <button  class="btn btn-default" onclick="jump_userChangePW()">修改密码</button>
        <button  class="btn btn-default" onclick="jump_userViewInformation()">个人信息</button>
    </div>


    <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="请输入关键字搜索" id="searchContent">
        <button class="input-group-addon  btn-primary" id="searchVideoBtn">搜索</button>
    </div>

    <p id="exitBtn" onclick="jump_login()">
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-log-out"></span> 退出
        </button>
    </p>
</div>


<div id="menu">
    <span id="shareRoom-words">共享空间</span>
    <button class="btn btn-primary"> <a href="#"  style="text-decoration: none;color: black" id="downloadVideo">下载</a> </button>
    <a id="excute-download" href="#" style="display:none"><span id="excute">实际执行按钮</span></a>
</div>

<div id="main">
    <table  class="table table-striped"><!--获取地址-->
        <caption>视频列表</caption>
        <tbody id="videolist">
        </tbody>
    </table>
</div>

<div class="videoInfor" hidden>
    <span id="videoInforWord">视频元信息</span>
    <table class="getVideoInfor">
        <tr>
            <th>视频大小</th>
            <th id="videoSize"></th>
        </tr>
        <tr>
            <th>视频格式</th>
            <th id="videoType"></th>
        </tr>
        <tr>
            <th>视频时长</th>
            <th id="videoTimeLength"></th>
        </tr>
        <tr>
            <th>视频分辨率</th>
            <th id="videoResolution"></th>
        </tr>
    </table>
    <button type="button" class="btn btn-primary" id="videoInforConfirmBtn">确 认</button>
</div>

<script type="text/javascript" src="/javascripts/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.form.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="../public/javascripts/upload.js"></script>-->
<script type="text/javascript" src="/javascripts/userShareRoom.js"></script>
<!--<script type="text/javascript" src="/javascripts/userPlayVideo.js"></script>-->
<!--<script type="text/javascript" src="/javascripts/md5/dist/browser-md5-file.js"></script>
<script type="text/javascript" src="/javascripts/md5/dist/browser-md5-file.min.js"></script>-->
</body>
</html>