*{
    margin: 0;
    padding: 0;
}

body {
    min-width: 1200px;
    width: 100%;
    overflow: scroll;
}


p#K{

    font-size: 80px;
    color: deepskyblue;
    position:absolute ;
    top: 5px;
    left: 20px;
}
p#TWO{
    font-size: 80px;
    color: red;
    position:absolute;
    top: 5px;
    left: 150px;
}

.fa-youtube-play{
    position: absolute;
    top: 25px;
    left: 80px;


}



.fa-sign-out{
    position: relative;
    top: 45px;
    left: 1150px;

    border-color: dodgerblue;

}

#navbtn{
    position: relative;
    left: 850px;
    top: 40px;
}

.btn-default:hover{
    color: white;
    background:deepskyblue;
}
#exitBtn{
    position:relative;
    left:90%;
    top:6px;
}

#changePW-words{
    position:relative;
    left:40px;
    top:100px;
    font-size:20px;
}
.userChangePwForm form{
    position:relative;
    left:160px;
    top:160px;
}
.userChangePwForm button{
    position:relative;
    left:200px;
    top:30px;
}
#submitChangePwBtn{
    position:relative;
    left:350px;
    top:170px;
}


